@font-face {
    font-family: "CormorantGaramond";
    src: url(../fonts/CormorantGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor: #3A3845;
    --primaryFont: "Inter";
    --headingFont: "Garamond";
    --sliderShopColor: #826F66;
    --sliderTextColor: #FFFDFB;
    --christmasColor: #F7F6F5;
    --christmasParaColor: #595667;
    --addButtonColor: #807F86;
    --footerColor: #E5E5E5;
    --vectorColor: #CAC9CF;
}
body{
    font-family: var(--primaryFont), serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--headingFont), sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*start header section*/
.header{
    padding: 21.84px 0;
}
.header .row{
    justify-content: space-between;
}
.menu{
    display: none;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.list a{
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.icons ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .list,.hidden_icon{
        display: none;
    }
    .menu{
        display: block;
    }
    .header .container{
        width: 95%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header .container{
        width: 95%;
    }
}
/*end header section*/
/*start slider section*/
.slider{
    position: relative;
}
.slider_image img{
    width: 100%;
    /* height: 100%; */
}
.slider_shop{
    background-color: var(--sliderShopColor);
    text-align: center;
    width: 420px;
    position: absolute;
    top: 0;
    bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop_para{
    color: var(--sliderTextColor);
    line-height: 24px;
    margin-top: 42px;
}
.heading_shop{
    text-transform: uppercase;
    color: var(--sliderTextColor);
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 4%;
    margin-top: 20px;
}
.shop_button{
    text-transform: uppercase;
    color: var(--sliderShopColor);
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 4%;
    padding: 15px 71px;
    margin-top: 42px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .slider_image img{
        display: block;
        height: 320px;
        object-fit: cover;
    }
    .slider .container{
        width: 100%;
    }
    .slider_shop{
        position: static;
        width: 100%;
        padding: 47.21px 0;
    }
    .slider_shop img{
        width: 50px;
    }
    .shop_para, .shop_button{
        margin-top: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .slider_shop{
        width: fit-content;
    }
    .slider_shop img{
        width: 50px;
    }
    .shop_para{
        margin-top: 15px;
        padding: 0 10px;
    }
}
/*end slider section*/
/*start collection section*/
.collections{
    padding: 80px 0;
    text-align: center;
}
.collections .row{
    gap: 30px;
}
.collections .collection{
    width: calc((100% - 90px)/ 4);
}
.collection img{
    width: 100%;
}
.heading_collection{
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 6%;
    margin-top: 12px;
}
@media screen and (min-width: 320px) and (max-width: 442.98px) {
    .collections{
        padding: 30px 0;
    }
    .collections .container{
        width: 95%;
    }
    .collections .row{
        gap: 5px;
    }
    .collections .collection{
        width: calc((100% - 5px) / 2);
    }
    .heading_collection{
        font-size: 15px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 443px) and (max-width: 767.98px) {
    .collections{
        padding: 30px 0;
    }
    .collections .container{
        width: 95%;
    }
    .collections .row{
        gap: 5px;
    }
    .collections .collection{
        width: calc((100% - 10px) / 3);
    }
    .heading_collection{
        font-size: 15px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .collections{
        padding: 30px 0;
    }
    .collections .row{
        gap: 15px;
    }
    .collections .collection{
        width: calc((100% - 30px) / 3);
    }
}
/*end collection section*/
/*start christmas_collections section*/
.christmas_collections .row{
    align-items: stretch;
}
.text_collection,.image_collection{
    width: calc(100%/2);
}
.text_collection{
    background-color: var(--christmasColor);
    text-align: center;
    padding: 64px 60px;
}
.text_collection h2{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.text_collection p::first-letter{
    text-transform: uppercase;
}
.text_collection p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--christmasParaColor);
    margin-bottom: 32px;
}
.text_collection a{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    color: var(--primaryColor);
    text-underline-offset: 3px;
}
.image_collection img{
    display: block;
    width: 100%;
    height: 348px;
    object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .christmas_collections .container{
        width: 100%;
    }
    .text_collection{
        padding: 50px 16px;
    }
    .text_collection,.image_collection{
        width: 100%;
    }
    .text_collection h2{
        margin-bottom: 24px;
    }
    .text_collection p{
        margin-bottom: 32px;
    }
    .image_collection img{
        height: 348px;
        object-fit: cover;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .text_collection{
        padding: 39px 16px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1024.98px) {
    .text_collection{
        padding: 40px 15px;
    }
}
/*end christmas_collections section*/
/* start sellers section */
.sellers{
    padding: 80px 0;
}
.sellers > h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: Bold;
    color: var(--primaryColor);
    margin-bottom: 48px;
}
.sellers .row{
    gap: 30px;
    align-items: stretch;
}
.seller_item{
    width: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seller_item img{
    width: 100%;
    margin-bottom: 15px;
}
.seller_item .product_name{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 6%;
    font-weight: 600;
    color: var(--primaryColor);
    margin-bottom: 3px;
}
.seller_item .product_price{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--primaryColor);
    margin-bottom: 12px;
}
.seller_item .product_desc::first-letter{
    text-transform: uppercase;
}
.seller_item .product_desc{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--addButtonColor);
}
.seller_item .add_product{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 8%;
    font-weight: 600;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    padding: 15px 0;
    display: block;
    margin-top: 40px;
}
@media screen and (min-width: 320px) and (max-width: 575.98px) {
    .sellers{
        padding: 40px 0;
    }
    .sellers > h2{
        margin-bottom: 35px;
    }
    .sellers .container{
        width: 90%;
    }
    .sellers .row{
        gap: 10px;
    }
    .seller_item{
        width: calc((100% - 10px) / 2);
    }
    .seller_item img{
        margin-bottom: 10px;
    }
    .seller_item .product_name{
        font-size: 12px;
    }
    .seller_item .product_price{
        font-size: 12px;
    }
}
/* end sellers section */
/* start Products section */
.products .row{
    align-items: stretch;
}
.text_products,.image_products{
    width: calc(100%/2);
}
.text_products{
    background-color: var(--christmasColor);
    text-align: center;
    padding: 64px 60px;
}
.text_products h2{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.text_products p::first-letter{
    text-transform: uppercase;
}
.text_products p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--christmasParaColor);
    margin-bottom: 32px;
}
.text_products a{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    color: var(--primaryColor);
    text-underline-offset: 3px;
}
.image_products img{
    display: block;
    width: 100%;
    height: 348px;
    object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .products .container{
        width: 100%;
    }
    .text_products{
        padding: 50px 16px;
    }
    .text_products,.image_products{
        width: 100%;
    }
    .text_products h2{
        margin-bottom: 24px;
    }
    .text_products p{
        margin-bottom: 32px;
    }
    .image_products img{
        height: 274px;
        object-fit: cover;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .text_products{
        padding: 40px 16px;
    }
    .image_products img{
        height: 322px;
        object-fit: cover;
    }
}
@media screen and (min-width: 992px) and (max-width: 1024.98px) {
    .image_products img{
        height: 365px;
        object-fit: cover;
    }
}
/* end Products section */
/* start discover section */
.discover_products{
    padding: 80px 0;
}
.discover_products .heading .discover_heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: Bold;
    color: var(--primaryColor);
    margin-bottom: 48px;
}
.discover_products .row{
    align-items: stretch;
    gap: 30px;
}
.discover_item{
    width: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discover_item .top{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* gap: 10px; */
}
.discover_image img{
    width: 100%;
}
.Product_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Product_info .Product_name p{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 6%;
    font-weight: 600;
    color: var(--primaryColor);
}
.Product_info .Product_Price p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--primaryColor); 
}
.discover_item .Product_desc::first-letter{
    text-transform: uppercase;
}
.discover_item .item_desc{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--addButtonColor);
}
.discover_item .Secondary_Button{
    text-transform: uppercase;
    background-color: white;
    border: 1px solid var(--primaryColor);
    padding: 15px 18px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 8%;
    font-weight: 600;
    text-align: center;
    color: var(--primaryColor);
    margin-top: 58px;
}
@media screen and (min-width: 320px) and (max-width: 575.98px) {
    .discover_products{
        padding: 40px 0;
    }
    .discover_products > h2{
        margin-bottom: 35px;
    }
    .discover_products .container{
        width: 90%;
    }
    .discover_products .row{
        gap: 10px;
    }
    .discover_item{
        width: calc((100% - 10px) / 2);
    }
    .discover_item .item_name{
        font-size: 12px;
    }
    .discover_item .add_item{
        margin-top: 67px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .discover_item{
        width: calc((100% - 30px) / 2);
    }
}
/* end discover section */
/* start blog section */
.blog .blog_t{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: Bold;
    color: var(--primaryColor);
    margin-bottom: 48px;
}
.text_blog,.image_blog{
    width: calc(100%/2);
}
.text_blog{
    background-color: var(--christmasColor);
    text-align: center;
    padding: 61px 71px;
}
.text_blog .blog_t_one{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-style: Bold;
    letter-spacing: 6%;
    color: var(--addButtonColor);
    margin-bottom: 24px;
}
.text_blog .blog_title{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.text_blog .blog_desc::first-letter{
    text-transform: uppercase;
}
.text_blog .blog_desc{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--christmasParaColor);
    margin-bottom: 32px;
}
.text_blog .read_blog{
    border-style: none;
    background-color: transparent;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    color: var(--christmasParaColor);
    text-underline-offset: 3px;
}
.image_blog img{
    display: block;
    width: 100%;
    height: 383px;
    object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 575.98px) {
    .blog .blog_t{
        padding-top: 30px;
    }
    .blog .container{
        width: 100%;
    }
    .blog .row{
        flex-direction: column-reverse;
    }
    .text_blog,.image_blog{
        width: 100%;
    }
    .text_blog{
        padding: 25px 10px;
    }
    .image_blog img{
        height: 297px;
        object-fit: cover;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .text_blog{
        padding: 49px 16px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .text_blog{
        padding: 61px 56px;
    }
}
/* end blog section */
/* start Newsletter section */
.Newsletter{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Newsletter .Newsletter_para::first-letter{
    text-transform: uppercase;
}
.Newsletter .Newsletter_para{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: Bold;
    color: var(--christmasParaColor);
    margin-bottom: 24px;
}
.Newsletter .Newsletter_title{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 4%;
    text-align: center;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.Newsletter .Newsletter_input{
    border-style: none;
    border-bottom: 1px solid var(--primaryColor);
    text-align: center;
    padding: 14px 0;
    width: 389px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--christmasParaColor);
    margin-bottom: 32px;
}
.Newsletter .Newsletter_button{
    background-color: White;
    border: 1px solid var(--primaryColor);
    padding: 15px 24px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 8%;
    color: var(--primaryColor);
}
@media screen and (min-width: 0) and (max-width: 320px){
    .Newsletter .Newsletter_input,.Newsletter_title{
        width: 249px;
    }
}
@media screen and (min-width: 321px) and (max-width: 575.98px) {
    .Newsletter{
        padding: 40px 0;
    }
    .Newsletter .Newsletter_input,.Newsletter_title{
        width: 350px;
    }
}
/* end Newsletter section */
/* start footer section */
.footer{
    background-color: var(--primaryColor);
    box-shadow: 0px 1px 4px 0px #19213D14 8%;
}
.footer .container{
    background-color: red;
}
.footer .Footer_Top{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
.Footer_Top .Grid{
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-right: 80.27px;
}
.grid_logo{
    margin-top: 48px;
}
.Footer_Description p::first-letter{
    text-transform: uppercase;
}
.Footer_Description p{
    margin-top: 24px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--footerColor);
}
.Footer_Button{
    margin-top: 32px;
    display: flex;
    gap: 3px;
    width: 154px;
    background-color: transparent;
    padding: 15px 18px;
    border: 1px solid var(--christmasColor);
}
.Footer_Button p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-style: Bold;
    letter-spacing: 8%;
    text-align: center;
    text-transform: uppercase;
    color: var(--footerColor);
}
.Vector{
    border: 1px solid var(--vectorColor);
    height: 318px;
}
.Links{
    margin-left: 80.27px;
}
.Content{
    display: flex;
    gap: 72px;
    padding-top: 48px;
    background-color: rgb(143, 143, 54);
}
.Footer_Column{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: rgb(136, 54, 143);
}
.Footer_Title{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: Bold;
    letter-spacing: 6%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Grid_Column ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer_link{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: var(--footerColor);
}
.Footer_Bottom{
    border-top: 1px solid var(--vectorColor);
    padding: 32px 0;
}
.Footer_Bottom .Copyright{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: var(--footerColor);
}
.Footer_Bottom .Copyright span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .footer .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 30px;
    }
    .footer .Footer_Top{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .Footer_Top .Grid{
        display: flex;
        flex-direction: column;
        background-color: blue;
        margin-right: 0;
    }
    .grid_logo{
        margin-top: 32px;
    }
    .Footer_Button{
        width: 147px;
    }
    .Vector{
        border: 1px solid var(--vectorColor);
        height: 0;
    }
    .Links{
        margin-left: 0;
        /* flex-direction: column;
        gap: 10px; */
    }
    .Content{
        flex-direction: column;
        gap: 48px;
        padding-top: 0;
    }
    .Footer_Column{
        width: calc((100% - 96px)/2);
        gap: 30px;
    }
    .Footer_Bottom{
        border-top: 1px solid var(--vectorColor);
        padding: 30px 32px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(51, 80, 80);
    }
}
/* end footer section */