@font-face {
    font-family: "CormorantGaramond";
    src: url(../fonts/CormorantGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor: #3A3845;
    --primaryFont: "Inter";
    /* --headingFont: "CormorantGaramond"; */
    --headingFont: "Garamond";
    --sliderShopColor: #826F66;
    --sliderTextColor: #FFFDFB;
    --christmasColor: #F7F6F5;
    --christmasParaColor: #595667;
}
body{
    font-family: var(--primaryFont), serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--headingFont), sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*start header section*/
.header{
    padding: 21.84px 0;
}
.header .row{
    justify-content: space-between;
}
.menu{
    display: none;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.list a{
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.icons ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .list,.hidden_icon{
        display: none;
    }
    .menu{
        display: block;
    }
    .header .container{
        width: 95%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header .container{
        width: 95%;
    }
}
/*end header section*/
/*start slider section*/
.slider{
    position: relative;
}
.sliderBG{
    height: 100vh;
}
.slider1_image{
    width: 100%;
    height: 100%;
}
.slider1_image_hidden{
    display: none;
}
.slider_shop{
    background-color: var(--sliderShopColor);
    text-align: center;
    width: 420px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop_para{
    color: var(--sliderTextColor);
    line-height: 24px;
    margin-top: 42px;
}
.heading_shop{
    text-transform: uppercase;
    color: var(--sliderTextColor);
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 4%;
    margin-top: 20px;
}
.shop_button{
    text-transform: uppercase;
    color: var(--sliderShopColor);
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 4%;
    padding: 15px 71px;
    margin-top: 42px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .slider1_image{
        display: none;
    }
    .slider1_image_hidden{
        display: block;
        width: 100%;
        height: 100%;
    }
    .slider .container{
        width: 100%;
    }
    .slider_shop{
        position: static;
        width: 100%;
        padding: 47.21px 0;
    }
    .shop_para, .shop_button{
        margin-top: 30px;
    }
}
/*end slider section*/
/*start collection section*/
.collections{
    padding: 80px 0;
    text-align: center;
}
.collections .row{
    gap: 30px;
}
.collections .collection{
    width: calc((100% - 90px)/ 4);
}
.collection img{
    width: 100%;
}
.heading_collection{
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 6%;
    font-family: var(--primaryFont);
    margin-top: 12px;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .collections .container{
        width: 95%;
    }
    .collections .collection{
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .collections .collection{
        width: calc((100% - 30px) / 2);
    }
}
/*end collection section*/
/*start christmas_collections section*/
.christmas_collection{
    width: calc(100%/2);
}
.christmas_1{
    background-color: var(--christmasColor);
    padding: 67px 60px;
    text-align: center;
}
.christmas_heading{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
    width: 398px;
}
.christmas_para::first-letter{
    text-transform: uppercase;
}
.christmas_para{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--christmasParaColor);
    margin-bottom: 32px;
    width: 389px;
}
.christmas_a{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    color: var(--primaryColor);
    padding: 15px 18px;
    text-underline-offset: 3px;
}
.christmas_collection img{
    display: block;
}
.christmas_collection .christmas_small{
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
    .christmas_collections .container{
        width: 100%;
    }
    .christmas_collections .row{
        flex-direction: column;
    }
    .christmas_collection{
        width: 100%;
    }
    .christmas_collection img{
        display: none;
    }
    .christmas_collection .christmas_small{
        width: 100%;
        display: block;
    }
} 
/*end christmas_collections section*/