@font-face {
    font-family: "CormorantGaramond";
    src: url(../fonts/CormorantGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryFont: "Inter";
    --headingFont: "Garamond";
    --primaryColor: #3A3845;
    --sliderShopColor: #826F66;
    --sliderTextColor: #FFFDFB;
    --thirdColor: #F7F6F5;
    --secondColor: #595667;
    --addButtonColor: #807F86;
    --footerColor: #E5E5E5;
    --vectorColor: #CAC9CF;
}
body{
    font-family: var(--primaryFont), serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--headingFont), sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 85%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*start header section*/
.header{
    padding: 21.84px 0;
}
.header .row{
    justify-content: space-between;
}
.menu{
    display: none;
}
.list ul{
    display: flex;
    gap: 60px;
}
.list a{
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.icons ul{
    display: flex;
    gap: 24px;
}
/* start header responsive */
@media screen and (max-width: 768px){
    .header{
        padding: 15px 0;
    }
    .header .container{
        width: 90%;
    }
    .list ul{
        gap: 20px;
    }
    .icons ul{
        gap: 15px;
    }
}
@media screen and (max-width: 576px){
    .list,.hidden_icon{
        display: none;
    }
    .menu{
        display: block;
    }
    .header{
        padding: 15px 0;
    }
    .header .container{
        width: 95%;
    }
}
@media screen and (max-width: 320px){
    .list,.hidden_icon{
        display: none;
    }
    .menu{
        display: block;
    }
    .header{
        padding: 15px 0;
    }
    .header .container{
        width: 95%;
    }
}
/* end header responsive */
/*end header section*/
/*start slider section*/
.slider{
    position: relative;
}
.slider_image img{
    width: 100%;
}
.slider_shop{
    background-color: var(--sliderShopColor);
    text-align: center;
    width: 420px;
    position: absolute;
    top: 0;
    bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}
.slider_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shop_para{
    color: var(--sliderTextColor);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.heading_shop{
    text-transform: uppercase;
    color: var(--sliderTextColor);
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 4%;
}
.shop_button{
    border: none;
    text-transform: uppercase;
    color: var(--sliderShopColor);
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px 71px;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
/* start slider responsive */
@media screen and (max-width: 992px) {
    .slider_shop{
        width: fit-content;
    }
    .slider_shop img{
        width: 70px;
    }
    .shop_para{
        padding: 0 10px;
    }
    .heading_shop{
        font-size: 34px;
    }
    .shop_button{
        padding: 15px 60px;
    }
}
@media screen and (max-width: 768px){
    .slider .container{
        width: 90%;
    }
    .slider_shop{
        width: fit-content;
        gap: 30px;
    }
    .slider_shop img{
        width: 50px;
    }
    .shop_para{
        padding: 0 10px;
    }
    .heading_shop{
        font-size: 34px;
    }
    .shop_button{
        padding: 15px 60px;
    }
}
@media screen and (max-width: 576px){
    .slider_image img{
        display: block;
        height: 398px;
        object-fit: cover;
    }
    .slider .container{
        width: 100%;
    }
    .slider_shop{
        position: static;
        width: 100%;
        padding: 47.21px 0;
        gap: 30px;
    }
    .slider_shop img{
        width: 50px;
    }
}
@media screen and (max-width: 320px){
    .slider_image img{
        display: block;
        height: 288px;
        object-fit: cover;
    }
    .slider .container{
        width: 100%;
    }
    .slider_shop{
        position: static;
        width: 100%;
        gap: 30px;
        padding: 40px 0;
    }
    .slider_shop img{
        width: 50px;
    }
    .heading_shop{
        font-size: 34px;
    }
    .shop_button{
        padding: 15px 60px;
    }
}
/* end slider responsive */
/*end slider section*/

/*start collection section*/
.collections{
    padding: 80px 0;
}
.collections .row{
    gap: 30px;
}
.collections .collection{
    width: calc((100% - 90px)/ 4);
}
.collection img{
    width: 100%;
}
.heading_collection{
    color: var(--primaryColor);
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 6%;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    margin-top: 24px;
}
/* start collection responsive */
@media screen and (max-width: 992px) {
    .collections{
        padding: 40px 0;
    }
    .heading_collection{
        font-size: 16px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 768px){
    .collections{
        padding: 40px 0;
    }
    .collections .container{
        width: 90%;
    }
    .collections .row{
        gap: 15px;
    }
    .collections .collection{
        width: calc((100% - 30px) / 3);
    }
    .heading_collection{
        font-size: 16px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 576px){
    .collections{
        padding: 20px 0;
    }
    .collections .container{
        width: 95%;
    }
    .collections .row{
        gap: 15px 10px;
    }
    .collections .collection{
        width: calc((100% - 10px) / 2);
    }
    .heading_collection{
        font-size: 15px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 320px){
    .collections{
        padding: 20px 0;
    }
    .collections .container{
        width: 95%;
    }
    .collections .row{
        gap: 15px 5px;
    }
    .collections .collection{
        width: calc((100% - 5px) / 2);
    }
    .heading_collection{
        font-size: 12px;
        margin-top: 10px;
    }
}
/* end collection responsive */
/*end collection section*/

/*start christmas_collections section*/
.christmas_collections .row{
    align-items: stretch;
}
.text_collection,.image_collection{
    width: calc(100%/2);
}
.text_collection{
    background-color: var(--thirdColor);
    text-align: center;
    padding: 64px 87px;
}
.text_collection h2{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.text_collection p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--secondColor);
    margin-bottom: 32px;
}
.text_collection button{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--primaryColor);
}
.image_collection img{
    display: block;
    width: 100%;
    height: 348px;
    object-fit: cover;
}
/* start collection responsive */
@media screen and (max-width: 1200px) {
    .text_collection{
        padding: 50px 20px;
    }
}
@media screen and (max-width: 992px) {
    .text_collection{
        padding: 50px 20px;
    }
    .image_collection img{
        height: 100%;
    }
}
@media screen and (max-width: 768px){
    .christmas_collections .container{
        width: 90%;
    }
    .text_collection{
        padding: 50px 20px;
    }
    .image_collection img{
        height: 100%;
    }
}
@media screen and (max-width: 576px){
    .christmas_collections .container{
        width: 100%;
    }
    .text_collection,.image_collection{
        width: 100%;
    }
    .text_collection{
        padding: 50px 20px;
    }
    .image_collection img{
        height: 348px;
        object-fit: cover;
    }
}
@media screen and (max-width: 320px){
    .christmas_collections .container{
        width: 100%;
    }
    .text_collection,.image_collection{
        width: 100%;
    }
    .text_collection{
        padding: 40px 20px;
    }
    .text_collection h2{
        font-size: 20px;
    }
    .text_collection p{
        font-size: 14px;
    }
    .image_collection img{
        height: 320px;
        object-fit: cover;
    }
}
/* end collection responsive */
/*end christmas_collections section*/

/* start sellers section */
.sellers{
    padding: 80px 0;
}
.sellers > h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: Bold;
    color: var(--primaryColor);
    margin-bottom: 48px;
}
.sellers .row{
    gap: 40px 30px;
    align-items: stretch;
}
.seller_item{
    width: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seller_item .top{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.seller_item img{
    width: 100%;
}
.seller_item .Product_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.seller_item .Product_info .product_name{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 6%;
    font-weight: 600;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--primaryColor);
}
.seller_item .Product_info .product_price{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--primaryColor);
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.seller_item .product_desc{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--addButtonColor);
}
.seller_item .add_product{
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 8%;
    font-weight: 600;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    padding: 15px 18px;
    margin-top: 58px;
}
/* start sellers responsive */
@media screen and (max-width: 768px){
    .sellers{
        padding: 40px 0;
    }
    .sellers > h2{
        margin-bottom: 35px;
    }
    .sellers .container{
        width: 90%;
    }
    .sellers .row{
        gap: 30px 10px;
    }
    .seller_item{
        width: calc((100% - 20px) / 3);
    }
    .seller_item .add_product{
        margin-top: 50px;
    }
}
@media screen and (max-width: 576px){
    .sellers{
        padding: 40px 0;
    }
    .sellers > h2{
        margin-bottom: 35px;
    }
    .sellers .container{
        width: 95%;
    }
    .sellers .row{
        gap: 30px 10px;
    }
    .seller_item{
        width: calc((100% - 10px) / 2);
    }
    .seller_item .add_product{
        margin-top: 50px;
    }
}
@media screen and (max-width: 320px){
    .sellers{
        padding: 20px 0;
    }
    .sellers > h2{
        margin-bottom: 28px;
        font-size: 28px;
    }
    .sellers .container{
        width: 95%;
    }
    .sellers .row{
        gap: 20px 10px;
    }
    .seller_item{
        width: calc((100% - 10px) / 2);
    }
    .seller_item .top{
        gap: 20px;
    }
    .seller_item .Product_info .product_name{
        font-size: 12px;
    }
    .seller_item .Product_info .product_price{
        font-size: 12px;
    }
    .seller_item .add_product{
        margin-top: 50px;
    }
}
/* end sellers responsive */
/* end sellers section */

/* start Products section */
.products .row{
    align-items: stretch;
}
.text_products,.image_products{
    width: calc(100%/2);
}
.text_products{
    background-color: var(--thirdColor);
    text-align: center;
    padding: 64px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text_products h2{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.text_products p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--secondColor);
    margin-bottom: 32px;
}
.text_products button{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--primaryColor);
    border: none;
    background-color: transparent;
    padding: 15px 0;
}
.image_products img{
    display: block;
    width: 100%;
    height: 348px;
    object-fit: cover;
    object-position: top;
}
/* start Products responsive */
@media screen and (max-width: 992px) {
    .text_products{
        padding: 50px 16px;
    }
}
@media screen and (max-width: 768px){
    .products .container{
        width: 90%;
    }
    .text_products{
        padding: 50px 16px;
    }
}
@media screen and (max-width: 576px){
    .products .container{
        width: 100%;
    }
    .text_products{
        padding: 50px 16px;
    }
    .text_products,.image_products{
        width: 100%;
    }
    .image_products img{
        height: 300px;
        object-fit: cover;
    }
    .image-order{
        order: 1;
    }
}
@media screen and (max-width: 320px){
    .products .container{
        width: 100%;
    }
    .text_products{
        padding: 50px 16px;
    }
    .text_products,.image_products{
        width: 100%;
    }
    .image_products img{
        height: 300px;
        object-fit: cover;
    }
    .image-order{
        order: 1;
    }
}
/* end Products responsive */
/* end Products section */

/* start discover section */
.discover_products{
    padding: 80px 0;
}
.discover_products .heading .discover_heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: Bold;
    color: var(--primaryColor);
    margin-bottom: 48px;
}
.discover_products .row{
    align-items: stretch;
    gap: 30px;
}
.discover_item{
    width: calc((100% - 90px) / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discover_item .top{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.discover_image img{
    width: 100%;
}
.Product_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Product_info .Product_name{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 6%;
    font-weight: 600;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--primaryColor);
}
.Product_info .Product_Price{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--primaryColor); 
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.discover_item .Product_desc{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--addButtonColor);
}
.discover_item .Secondary_Button{
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 8%;
    font-weight: 600;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--primaryColor);
    padding: 15px 18px;
    margin-top: 58px;
}
/* start discover responsive */
@media screen and (max-width: 768px){
    .discover_products{
        padding: 40px 0;
    }
    .discover_products .container{
        width: 90%;
    }
    .discover_products .row{
        gap: 30px 10px;
    }
    .discover_item{
        width: calc((100% - 20px) / 3);
    }
}
@media screen and (max-width: 576px){
    .discover_products{
        padding: 40px 0;
    }
    .discover_products .heading .discover_heading{
        margin-bottom: 35px;
    }
    .discover_products .container{
        width: 95%;
    }
    .discover_products .row{
        gap: 30px 10px;
    }
    .discover_item{
        width: calc((100% - 10px) / 2);
    }
}
@media screen and (max-width: 320px){
    .discover_products{
        padding: 20px 0;
    }
    .discover_products .heading .discover_heading{
        margin-bottom: 28px;
        font-size: 28px;
    } 
    .discover_products .container{
        width: 95%;
    }
    .discover_products .row{
        gap: 20px 10px;
    }
    .discover_item{
        width: calc((100% - 10px) / 2);
    }
    .discover_item .top{
        gap: 20px;
    }
    .Product_info .Product_name{
        font-size: 12px;
    }
    .Product_info .Product_Price{
        font-size: 12px;
    }
    .discover_item .Product_desc{
        font-size: 12px;
    }
    .discover_item .Secondary_Button{
        margin-top: 50px;
    }
}
/* end discover responsive */
/* end discover section */

/* start blog section */
.blog .blog_t{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-style: Bold;
    color: var(--primaryColor);
    margin-bottom: 48px;
}
.blog .row{
    align-items: stretch;
}
.text_blog,.image_blog{
    width: calc(100%/2);
}
.text_blog{
    background-color: var(--thirdColor);
    text-align: center;
    padding: 64px 71px;
}
.text_blog .blog_t_one{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-style: Bold;
    letter-spacing: 6%;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--addButtonColor);
    margin-bottom: 24px;
}
.text_blog .blog_title{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.text_blog .blog_desc{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--secondColor);
    margin-bottom: 32px;
}
.text_blog .read_blog{
    border-style: none;
    background-color: transparent;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 6%;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: var(--secondColor);
    text-underline-offset: 2px;
    padding: 15px 18px;
}
.image_blog img{
    display: block;
    width: 100%;
    height: 383px;
    object-fit: cover;
}
/* start blog responsive */
@media screen and (max-width: 1400px) {
    .image_blog img{
        display: block;
        height: 100%;
    }
}
@media screen and (max-width: 1200px) {
     .text_blog{
        padding: 40px 20px;
    }
    .image_blog img{
        display: block;
        height: 100%;
    }
}
@media screen and (max-width: 992px) {
    .text_blog{
        padding: 40px 20px;
    }
}
@media screen and (max-width: 768px){
    .blog .container{
        width: 90%;
    }
    .text_blog{
        padding: 40px 20px;
    }
    .image_blog img{
        height: 100%;
    }
}
@media screen and (max-width: 576px){
    .blog .blog_t{
        padding-top: 30px;
    }
    .blog .container{
        width: 100%;
    }
    .blog .row{
        flex-direction: column-reverse;
    }
    .text_blog,.image_blog{
        width: 100%;
    }
    .text_blog{
        padding: 40px;
    }
    .image_blog img{
        height: 297px;
        object-fit: cover;
    } 
}
@media screen and (max-width: 320px){
    .blog .blog_t{
        padding-top: 30px;
    }
    .blog .container{
        width: 100%;
    }
    .blog .row{
        flex-direction: column-reverse;
    }
    .text_blog,.image_blog{
        width: 100%;
    }
    .text_blog{
        padding: 40px 10px;
    }
    .image_blog img{
        height: 297px;
        object-fit: cover;
    }
}
/* end blog responsive */
/* end blog section */

/* start Newsletter section */
.Newsletter{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Newsletter .Newsletter_para::first-letter{
    text-transform: uppercase;
}
.Newsletter .Newsletter_para{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: Bold;
    color: var(--secondColor);
    margin-bottom: 24px;
}
.Newsletter .Newsletter_title{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 4%;
    text-align: center;
    color: var(--primaryColor);
    margin-bottom: 24px;
}
.Newsletter .Newsletter_input{
    border-style: none;
    border-bottom: 1px solid var(--primaryColor);
    text-align: center;
    padding: 14px 0;
    width: 389px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--secondColor);
    margin-bottom: 32px;
}
.Newsletter .Newsletter_button{
    background-color: White;
    border: 1px solid var(--primaryColor);
    padding: 15px 24px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 8%;
    color: var(--primaryColor);
}
/* start blog responsive */
@media screen and (max-width: 576px) {
    .Newsletter{
        padding: 40px 0;
    }
    .Newsletter .Newsletter_input,.Newsletter_title{
        width: 320px;
    }
}
@media screen and (max-width: 320px){
    .Newsletter .Newsletter_input,.Newsletter_title{
        width: 249px;
    }
}
/* end blog responsive */
/* end Newsletter section */

/* start footer section */
.footer{
    background-color: var(--primaryColor);
    box-shadow: 0px 1px 4px 0px #19213D14 8%;
}
.footer .Footer_Top{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
.Footer_Top .Grid{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 30%;
    padding-top: 48px;
}
.Footer_Description{
    margin-top: 24px;
}
.Footer_Description p::first-letter{
    text-transform: uppercase;
}
.Footer_Description p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--footerColor);
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.Footer_Button{
    margin-top: 32px;
    display: flex;
    gap: 3px;
    background-color: transparent;
    padding: 15px 18px;
    border: 1px solid var(--thirdColor);
}
.Footer_Button p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-style: Bold;
    letter-spacing: 8%;
    text-align: center;
    text-transform: uppercase;
    color: var(--footerColor);
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.Vector{
    border: 1px solid var(--vectorColor);
    height: 318px;
}
.Links{
    padding-top: 48px;
}
.Content{
    display: flex;
    gap: 72px;
}
.Footer_Column{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.Footer_Title{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: Bold;
    letter-spacing: 6%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.Grid_Column ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.Grid_Column ul li{
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}
.footer_link{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--footerColor);
}
.Footer_Bottom{
    border-top: 1px solid var(--vectorColor);
    padding: 32px 0;
}
.Footer_Bottom .Copyright{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: var(--footerColor);
}
.Footer_Bottom .Copyright span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    opacity: 0.5;
}
/* start footer responsive */
@media screen and (max-width: 1024px){
    .footer .Footer_Top{
        padding: 0 38px;
    }
}
@media screen and (max-width: 992px){
    .footer .Footer_Top{
        padding: 0 38px;
    }
}
@media screen and (max-width: 768px){
    .footer .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer .Footer_Top{
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .Footer_Top .Grid{
        max-width: 80%;
        padding-top: 32px;
    }
    .Vector{
        height: 0;
    }
    .Links{
        padding-top: 0;
    }
    .Content{
        flex-wrap: wrap;
        gap: 48px;
    }
    .Footer_Column{
        width: calc((100% - 48px)/2);
        gap: 30px;
    }
    .Footer_Bottom{
        padding: 30px 32px;
    }
    .Footer_Bottom .Copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 576px){
    .footer .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer .Footer_Top{
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .Footer_Top .Grid{
        max-width: 80%;
        padding-top: 32px;
    }
    .Vector{
        height: 0;
    }
    .Links{
        padding-top: 0;
    }
    .Content{
        flex-wrap: wrap;
        gap: 48px;
    }
    .Footer_Column{
        width: calc((100% - 48px)/2);
        gap: 30px;
    }
    .Footer_Bottom{
        padding: 30px 32px;
    }
    .Footer_Bottom .Copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 320px){
    .footer .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer .Footer_Top{
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .Footer_Top .Grid{
        max-width: 80%;
        padding-top: 32px;
    }
    .Vector{
        height: 0;
    }
    .Links{
        padding-top: 0;
    }
    .Content{
        flex-wrap: wrap;
        gap: 48px;
    }
    .Footer_Column{
        width: calc((100% - 48px)/2);
        gap: 30px;
    }
    .Footer_Bottom{
        padding: 30px 32px;
    }
    .Footer_Bottom .Copyright{
        text-align: center;
    }
}
/* end footer responsive */
/* end footer section */